.buttonAdd {
    display: block;
    width: 100px;
    height: 80px;
    border: none;
    background: transparent;
}

.buttonImage {
    width: 80px;
    height: 80px;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
}

.buttonWrapper {
    display: inline-flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    font-size: 20px;
}

.buttonWrapper span {
    align-self: center;
}