.ingredientBlock {
    display: inline-flex;
    align-items: self-start;
    border: 1px solid #bcbcbc;
    border-radius: 5px;
}

.countWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 20px auto 15px;
    font-size: 30px;
}