.burgerPage {
    display: flex;
    gap: 10px;
    align-items: center;
}

.ingredientsBlock {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    flex-direction: column;
}